[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/zsh/plugins/fast-syntax-highlighting"]
	path = .config/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting/
[submodule ".config/zsh/plugins/history-search-multi-word"]
	path = .config/zsh/plugins/history-search-multi-word
	url = https://github.com/zdharma/history-search-multi-word
[submodule ".config/conky/now-clocking"]
	path = .config/conky/now-clocking
	url = git@github.com:Rayzr522/now-clocking.git
