[user]
	name = Rayzr522
	email = rayzr522@gmail.com

[rerere]
	enabled = true

[commit]
	gpgsign = true

[pull]
	rebase = false

[core]
	autocrlf = true

[includeIf "gitdir:~/.local/share/nvim/plugged/"]
	path = ~/.config/git/env/plugged.gitconfig
