#!/bin/bash

# Ensure Xresources are loaded
xrdb -merge ~/.Xresources &

if command -v nvidia-settings >/dev/null; then
    # Load nvidia-settings
    nvidia-settings -l &
fi

try_exec() {
    if command -v "$1" >/dev/null; then
        exec "$@" &
    fi
}

(sleep 5 && ~/.bin/conky-start) &

if [[ -z "$DISPLAY" ]]; then
    try_exec startkde
elif [[ "$XDG_CURRENT_DESKTOP" == KDE ]]; then
    try_exec compton -b
elif [[ "$XDG_CURRENT_DESKTOP" =~ .*:GNOME ]]; then
    if [[ -z "$GDM" ]]; then
        try_exec gnome-screensaver
    fi

    if [[ "$XDG_CURRENT_DESKTOP" == pop:GNOME ]]; then
        (sleep 5 && ~/.bin/fix-pop-shell-theme) &
    fi
fi
