#include ".config/rice/Xthemes/_selected"

! ------------------------------------------------------------------------------
! ROFI Color theme
! Copyright: 2017 leofa
! ------------------------------------------------------------------------------
! "Color scheme for normal row" Set from: File
! rofi.color-normal:                   argb:0383c4a, #c4cbd4, argb:96404552, #4084d6, #f9f9f9
! "Color scheme for urgent row" Set from: File
! rofi.color-urgent:                   argb:02d303b, #cc6666, argb:e52d303b, #a54242, #f9f9f9
! "Color scheme for active row" Set from: File
! rofi.color-active:                   argb:02d303b, #b5bd68, argb:e42d303b, #8c9440, #f9f9f9
! "Color scheme window" Set from: File
! rofi.color-window:                   argb:f22d303b, #7c8389, #1d1f21
! "Separator style (none, dash, solid)" Set from: XResources
! rofi.separator-style:                dash
! Fix SSH in Termite

! rofi.hide-scrollbar: true
! Font
rofi.font: Roboto 15
! Dimensions
rofi.width: 700
rofi.lines: 5
rofi.columns: 1

rofi.line-margin: 0
rofi.line-padding: 5
! Borders
rofi.bw: 5
rofi.padding: 3
! Colors
rofi.color-window: #aa263238, #7700BCD4
rofi.color-normal: #aa28282f, #ffb9b9b9, #aa28282f, #aa2f2f3f, #ffdedede
!rofi.color-active: #dd4f4f4f, #ffdedede, #dd9f9f9f
rofi.color-active: #aa3f93de, #ffddddff, #aa3f9fe3, #aa3f9ff3, #ffffffff

rofi.separator-style: none

rofi.terminal:          termite
rofi.ssh-client:        ssh
rofi.ssh-command:       {terminal} -e "sh -c 'TERM=xterm-256color {ssh-client} {host}'"
! ""ception

!! URxvt
URxvt.font: xft:RobotoMono Nerd Font:size=12:antialias=true,xft:FontAwesome:size=12:antialias=true,xft:DejaVu Sans Mono:size=12:antialias=true

! Size
URxvt.geometry: 100x30

URxvt.iso14755:        false
URxvt.iso14755_52:     false
URxvt.internalBorder:  false
URxvt.perl-ext-common: font-size,default
URxvt.perl-ext: font-size,default

URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.keysym.Home:    \033[1~
URxvt.keysym.End:     \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~

URxvt.keysym.C-Plus:     font-size:increase
URxvt.keysym.C-Minus:   font-size:decrease
! URxvt.keysym.C-S-Up:   font-size:incglobal
! URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

URxvt.cursorColor:  #cfcfc2
URxvt.scrollBar:    false

