#include ".config/rice/Xthemes/_selected"

!! URxvt
URxvt.font: xft:Iosevka Nerd Font:size=10
URxvt.boldFont: xft:Iosevka Nerd Font:size=10:style=Bold
URxvt.italicFont: xft:Iosevka Nerd Font:size=10:style=Italic
URxvt.boldItalicFont: xft:Iosevka Nerd Font:size=10:style=Bold Italic

URxvt.icon: terminal

! Size
URxvt.geometry: 120x30

URxvt.iso14755:        false
URxvt.iso14755_52:     false
URxvt.internalBorder:  false
URxvt.perl-ext-common: font-size,default,matcher
URxvt.perl-ext: font-size,default

URxvt.urlLauncher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt.cursorColor:  #cfcfc2
URxvt.scrollBar:    false

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.keysym.Home:    \033[1~
URxvt.keysym.End:     \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~

URxvt.keysym.C-Plus:     font-size:increase
URxvt.keysym.C-Minus:   font-size:decrease
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

