#!/bin/bash

has() {
    command -v "$1" >/dev/null
    return $?
}

try_exec() {
    if has "$1"; then
        exec "$@" &
    fi
}

if has nvidia-settings; then
    # Load nvidia-settings
    try_exec nvidia-settings -l &
fi

if [[ -z "$DISPLAY" ]]; then
    try_exec startkde
elif [[ "$XDG_CURRENT_DESKTOP" == KDE ]]; then
    if has picom; then
        try_exec picom --experimental-backends -b
    elif has compton; then
        try_exec compton -b
    fi
elif [[ "$XDG_CURRENT_DESKTOP" =~ .*:GNOME ]]; then
    if [[ -z "$GDM" ]]; then
        try_exec gnome-screensaver
    fi

    if [[ "$XDG_CURRENT_DESKTOP" == pop:GNOME ]]; then
        (sleep 5 && ~/.bin/fix-pop-shell-theme) &
    elif [[ "$XDG_CURRENT_DESKTOP" == Budgie:GNOME ]]; then
        try_exec tint2
        try_exec xbindkeys -p -f ~/.config/xbindkeysrc
    fi
fi

# hacky way to wait til desktop loads
(sleep 5 && {
    xrdb -I "$HOME" -merge ~/.Xresources
    try_exec ~/.bin/conky-start
}) &
